@keyframes gradient-slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.gradient-animate {
  background-size: 200% 100%;
  animation: gradient-slide 8s ease infinite;
}
